<div>
    <div id="carouselExampleCaptions" class="carousel slide h-50 " data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/img/banner_co.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div-title-banner">
                        <h1 class="title-banner-home">
                            Amplificamos las voces de todos los colombianos
                        </h1>
                        <br>
                        <h2 class="text-banner-home">
                            Con causas que llegan a más de 100.000.000 personas
                        </h2>
                        <br>
                        <button class="btn btn-banner-home"> Iniciar Causa</button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/banner_co.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div-title-banner">
                        <h1 class="title-banner-home">
                            Crea tu propia causa y lucha por esa idea
                        </h1>
                        <br>
                        <h2 class="text-banner-home">
                            No dejes de luchar por esas ideas que son importantes para ti !
                        </h2>
                        <br>
                        <button class="btn btn-banner-home"> Iniciar Causa </button>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img src="assets/img/banner_co.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <div class="div-title-banner">
                        <h1 class="title-banner-home">
                            Apoya las demás ideas y has parte de otras causas
                        </h1>
                        <br>
                        <h2 class="text-banner-home">
                            Muchas personas necesitan tu apoyo
                        </h2>
                        <br>
                        <button class="btn btn-banner-home"> Iniciar Causa </button>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid">
        <hr>
        <h1 class="text-center title-home">
            <b>
                Causas Reales
            </b>
        </h1>
        <hr>
        <div class="row padding-row-causas">
            <div class="col-md-4">
                <div class="card card-radius-custome">
                    <img src="assets/img/prub.jpg" class="card-img-top img-card-custome" alt="...">
                    <div class="card-body padding-card-body-custome">
                        <h5 class="card-title title-card-custome text-center">¡ Ayuda al personal médico !</h5>
                        <p class="card-text justify-content text-card-custome text-justify">
                            Gracias a la presión ciudadana en esta petición, el Gobierno Nacional modificó el Decreto
                            538
                        </p>
                    </div>
                    <button class="btn text-center mb-3 btn-apoyar-custome">
                        Apoyar
                    </button>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="assets/icons/iconofirmante.png"
                                    class="card-img-top icon-footer-firmantes-card" alt="...">
                                <small class="text-muted">Firmantes</small>
                            </div>
                            <div class="col barra-iconos-footer">
                                <img src="assets/icons/iconosimpatizante.png"
                                    class="card-img-top icon-footer-simpatizantes-card" alt="...">
                                <small class="text-muted">Simpatizantes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-radius-custome">
                    <img src="assets/img/prub.jpg" class="card-img-top img-card-custome" alt="...">
                    <div class="card-body padding-card-body-custome">
                        <h5 class="card-title title-card-custome text-center">¡ Ayuda al personal médico !</h5>
                        <p class="card-text justify-content text-card-custome">
                            Gracias a la presión ciudadana en esta petición, el Gobierno Nacional modificó el Decreto
                            538
                        </p>
                    </div>
                    <button class="btn text-center mb-3 btn-apoyar-custome">
                        Apoyar
                    </button>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="assets/icons/iconofirmante.png"
                                    class="card-img-top icon-footer-firmantes-card" alt="...">
                                <small class="text-muted">Firmantes</small>
                            </div>
                            <div class="col barra-iconos-footer">
                                <img src="assets/icons/iconosimpatizante.png"
                                    class="card-img-top icon-footer-simpatizantes-card" alt="...">
                                <small class="text-muted">Simpatizantes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-radius-custome">
                    <img src="assets/img/prub.jpg" class="card-img-top img-card-custome" alt="...">
                    <div class="card-body padding-card-body-custome">
                        <h5 class="card-title title-card-custome text-center">¡ Ayuda al personal médico !</h5>
                        <p class="card-text justify-content text-card-custome">
                            Gracias a la presión ciudadana en esta petición, el Gobierno Nacional modificó el Decreto
                            538
                        </p>
                    </div>
                    <button class="btn text-center mb-3 btn-apoyar-custome">
                        Apoyar
                    </button>
                    <div class="card-body text-center">
                        <div class="row">
                            <div class="col">
                                <img src="assets/icons/iconofirmante.png"
                                    class="card-img-top icon-footer-firmantes-card" alt="...">
                                <small class="text-muted">Firmantes</small>
                            </div>
                            <div class="col barra-iconos-footer">
                                <img src="assets/icons/iconosimpatizante.png"
                                    class="card-img-top icon-footer-simpatizantes-card" alt="...">
                                <small class="text-muted">Simpatizantes</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <button class="btn text-center mb-3 btn-vermas-custome">
                Ver +
            </button>
        </div>
        <hr>
        <h1 class="text-center title-home">
            <b>
                Victorias Reales
            </b>
        </h1>
        <hr>
        <br>
        <div class="row" style="height: 500px;">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="height: 500px;">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col">
                                <div class="container-text-slider-2 text-justify pr-5 pl-5 mb-3">
                                    <h3 class="title-card-custome text-center mb-5">
                                        Traslado URGENTE para que Júpiter, el león de Villa Lorena, vuelva a Cali
                                    </h3>
                                    <div>
                                        Júpiter el león de Villa Lorena se está muriendo,
                                        necesitamos ayuda urgente para trasladarlo de Montería a
                                        Cali para su tratamiento.
                                        Júpiter vivía en Villa Lorena en Cali y era un imponente
                                        animal de 300 kg, saludable, feliz y amado. Por decisiones
                                        institucionales fue trasladado a la ciudad de Montería, en
                                        donde su salud se ha ido deteriorando y hoy está al borde
                                        de la muerte y pesando solamente 90 kg.
                                    </div>
                                </div>
                                <div class="card-body text-center">
                                    <div class="row">
                                        <div class="col ml-5">
                                            <img src="assets/icons/iconofirmante.png"
                                                class="card-img-top icon-footer-firmantes-card" alt="...">
                                            <small class="text-muted">Firmantes</small>
                                        </div>
                                        <div class="col barra-iconos-footer">
                                            <img src="assets/icons/iconosimpatizante.png"
                                                class="card-img-top icon-footer-simpatizantes-card" alt="...">
                                            <small class="text-muted">Simpatizantes</small>
                                        </div>
                                    </div>
                                    <br>
                                    <br>
                                    <div class="row">
                                        <div class="col pl-5">
                                            <button class="btn text-center mb-3 btn-apoyar-custome-slider w-75">
                                                Ver +
                                            </button>
                                        </div>
                                        <div class="col"></div>
                                    </div>
                                </div>

                            </div>
                            <div class="col">
                                <div class="div-later-img" style="height: 500px;"></div>
                                <div class="div-img-1" style="height: 465px;">
                                    <img class="d-block w-75 h-100" src="assets/img/banner_co.jpg" alt="First slide">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev width-btn" href="#carouselExampleControls" role="button"
                    data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next width-btn" href="#carouselExampleControls" role="button"
                    data-slide="next" style="z-index: 100;">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <br>
        <hr>
        <br>
        <div class="row mb-2 pr-5 pl-5">
            <div class="col">
                <div class="div-img-bottom">
                    <img class="d-block" src="assets/img/banner_co.jpg" alt="First slide"
                        style="height: 300px;width: 600px;">
                </div>
                <div class="div-later-img-bottom">
                </div>
            </div>
            <div class="col pt-5">
                <h1 class="title-card-custome-bottom">
                    Tu opinión cuenta
                </h1>
                <div class="text-card-bottom mt-4">
                    En este espacio podrás ejercer tu derecho a participar en las
                    diferentes causas y así poder ayudar a que más voces sean
                    escuchadas.
                </div>
                <button class="btn btn-apoyar-custome-bottom mt-5 mb-1" [routerLink]="['/auth/register']"
                    routerLinkActive="router-link-active">
                    Regístrate ahora
                </button>
            </div>
        </div>
    </div>
</div>
<br><br><br>