.card-radius-custome {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 12%;
    width: 385px;
}

.img-card-custome {
    height: 180px;
    width: 383px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.title-banner-home {
    font-size: 45px;
    font-weight: bold;
}

.text-banner-home {
    font-size: 20px;
}

.div-title-banner {
    margin-bottom: 7%;
    padding-left: 30px;
    padding-right: 30px;
}

.btn-banner-home {
    background-color: #5060BA;
    color: white;
    height: 48px;
    width: 220px;
    font-size: 18px;
    border-radius: 80px;
    margin-top: 25px;
}

.title-home {
    color: #5060BA;
    font-size: 50px;
    margin-bottom: 25px;
}

.title-card-custome {
    color: #5060BA;
    font-size: 20px;
}

.padding-card-body-custome {
    padding: 1em;
}

.text-card-custome {
    font-size: 14px;
    margin-top: 25px;
}

.btn-apoyar-custome {
    background-color: #f35261;
    margin-left: 95px;
    margin-right: 95px;
    color: white;
    font-size: 20px;
    border-radius: 55px;
    height: 30px;
    padding: 0;
}

.icon-footer-firmantes-card {
    width: 35px;
    height: 35px;
}

.icon-footer-simpatizantes-card {
    width: 30px;
    height: 30px;
}

.padding-row-causas {
    padding-left: 40px;
    padding-right: 40px;
}

.barra-iconos-footer {
    border-left: solid 0.1px;
    color: #5060BA;
}

.btn-vermas-custome {
    width: 205px;
    background-color: #5060BA;
    border-radius: 25px;
    color: white;
    font-size: 24px;
    height: 43px;
    padding: 0;
}

.container-text-slider-2 {
    margin-left: 100px;
}

.width-btn {
    width: 65px;
    background-color: #5060BA;
}

.div-later-img {
    height: 100%;
    width: 72%;
    background-color: #5060BA;
    position: absolute;
}

.div-img-1 {
    position: absolute;
    z-index: 100;
    top: 20px;
    right: 40px;
    height: 90%;
}

.div-img-apoyar {
    position: absolute;
    z-index: 100;
    top: 20px;
}

.div-later-img-2 {
    height: 100%;
    width: 45%;
    background-color: #5060BA;
    position: absolute;
}

.div-later-img-bottom {
    background-color: #5060BA;
    height: 342px;
    width: 500px;
    z-index: 100;
}

.div-img-bottom {
    top: 20px;
    z-index: 0;
    position: absolute;
    height: 300px;
}

.title-card-custome-bottom {
    color: #5060BA;
    font-weight: 100;
}

.text-card-bottom {}

.btn-apoyar-custome-bottom {
    background-color: #f35261;
    color: white;
    font-size: 20px;
    border-radius: 55px;
    height: 42px;
    width: 210px;
}

.btn-apoyar-custome-slider {
    background-color: #f35261;
    margin-left: 95px;
    margin-right: 95px;
    color: white;
    font-size: 20px;
    border-radius: 55px;
    height: 50px;
    padding: 0;
    width: 100px;
    font-weight: bold;
}