<!-- <nav class="navbar navbar-expand-lg navbar-light navbar-laravel">
    <div class="container">
        <a class="navbar-brand" href="#">Laravel</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register</a>
                </li>
            </ul>

        </div>
    </div>
</nav> -->

<h2 class="text-center mb-3 mt-5 title-custome">Crea tu propia Causa</h2>

<main class="my-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header text-center"></div>
                    <div class="card-body">
                        <form class="" #f="ngForm" (ngSubmit)="createCausa(f)">
                            <div class="form-group row">
                                <label for="title" class="col-md-4 col-form-label text-md-right">
                                    Título de la Causa
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="title" class="form-control" name="title"
                                        [(ngModel)]="causa.title">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="letters_key" class="col-md-4 col-form-label text-md-right">
                                    Palabras Clave
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="letters_key" class="form-control" name="letters_key"
                                        [(ngModel)]="causa.letters_key">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="description" class="col-md-4 col-form-label text-md-right">Descripción</label>
                                <div class="col-md-6">
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="description"
                                        [(ngModel)]="causa.description"></textarea>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="firmantes" class="col-md-4 col-form-label text-md-right">
                                    Cantidad de Firmantes
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="firmantes" class="form-control" name="firmantes"
                                        [(ngModel)]="causa.firmantes">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="simpatizantes" class="col-md-4 col-form-label text-md-right">
                                    Cantidad de Simpatizantes
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="simpatizantes" class="form-control" name="simpatizantes"
                                        [(ngModel)]="causa.simpatizantes">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="img" class="col-md-4 col-form-label text-md-right">
                                    Imagen de la Causa
                                </label>
                                <div class="col-md-6">
                                    <input type="text" id="img" name="img" accept="image/png, image/jpeg"
                                        class="form-control" [(ngModel)]="causa.img">
                                </div>
                            </div>
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Crear Causa
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>