<nav class="navbar navbar-expand-lg navbar-color-custome font-custome justify-content-end height-nav-1">
  <ul class="navbar-nav">
    <li class="nav-item navbar-item-hover-1 active">
      <a class="nav-link font-custome size-custome" [routerLink]="['']" routerLinkActive="router-link-active">Sobre
        nosotros<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item navbar-item-hover-1" *ngIf="!(isLoggedIn | async)">
      <a class="nav-link font-custome size-custome" [routerLink]="['/auth/register']"
        routerLinkActive="router-link-active">Registro</a>
    </li>
    <li class="nav-item navbar-item-hover-1" *ngIf="!(isLoggedIn | async)">
      <a class="nav-link font-custome size-custome" [routerLink]="['/auth/login']"
        routerLinkActive="router-link-active">Login</a>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2 border-custome" type="search" placeholder="" aria-label="Search"><i
      class="fa fa-search"></i>
  </form>
  <div *ngIf="(isLoggedIn | async)">
    <li class="nav-item dropdown">
      <a class="font-custome size-custome nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Mi perfil
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="nav-link dropdown-item" [routerLink]="['/user/my-profile']" routerLinkActive="router-link-active">
          Mi perfil
        </a>
        <a class="nav-link dropdown-item" (click)="logOut()" style="cursor: pointer;">Cerrar Sesión</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
  </div>
</nav>
<!-- NAVBAR 2 -->
<nav class="navbar navbar-expand-lg navbar-light bg-light height-nav-2 text-center">
  <a class="navbar-brand font-custome-title" href="#">
    <img src="../../../../favicon.ico" width="30" height="30" alt="">
    CausaReal
  </a>
  <ul class="navbar-nav ml-auto p-2 bd-highlight pr-4">
    <li class="nav-item navbar-item-hover active ">
      <a class="font-custome-nav-2 size-custome-nav-2" href="#">Iniciar causa<span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item navbar-item-hover">
      <a class="font-custome-nav-2 size-custome-nav-2" href="#">Apoyar causa</a>
    </li>
    <li class="nav-item navbar-item-hover">
      <a class=" font-custome-nav-2 size-custome-nav-2" href="#">Catálogo de causas</a>
    </li>
  </ul>
</nav>