.navbar-color-custome {
    background-color: #5060BA;
    padding-right: 80px;
}

.font-custome {
    color: #feffff;
    align-content: flex-end;
}

.size-custome {
    font-size: 12px;
    font-weight: bold;
    margin-left: 8px;
    margin-right: 20px;
}

.border-custome {
    border-radius: 50px;
    width: 320px;
    height: 30px;
}

.font-custome-title {
    font-size: 30px;
    color: #5060BA;
    margin-left: 180px;
}

.font-custome-nav-2 {
    color: #5060BA;
    font-size: 16px;
}

.size-custome-nav-2 {
    font-weight: bold;
    margin-left: 35px;
    margin-right: 65px;
}

.height-nav-1 {
    height: 38px;
}

.height-nav-2 {
    height: 42px;
}

.btn-logout-nav {
    background-color: white;
}

.navbar-item-hover-1:hover {
    color: #F2CD5C;
}

.navbar-item-hover:hover {
    border-color: red;
    border-bottom: 1px solid red;
}