<div class="bg-white">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center py-4">
            <div>
                <a href="#" class="d-inline-block text-dark">
                    <strong>234</strong>
                    <span class="text-muted">followers</span>
                </a>
                <a href="#" class="d-inline-block text-dark ml-3">
                    <strong>111</strong>
                    <span class="text-muted">following</span>
                </a>
            </div>
            <div>
                <button class="btn btn-info btn-sm" [routerLink]="['/user/crud-causa']"
                    routerLinkActive="router-link-active">
                    Crear Causa
                </button>
                <a href="#" class="btn btn-default icon-btn md-btn-flat btn-sm ml-1">
                    <i class="ion ion-md-mail"></i>
                </a>
            </div>
        </div>
    </div>
    <hr class="m-0">

    <div class="container">
        <div class="text-center py-5">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt class="ui-w-100 rounded-circle">

            <div class="col-md-8 col-lg-6 col-xl-5 p-0 mx-auto">
                <h4 class="font-weight-bold my-4"> {{user.name}} {{user.surname}}</h4>
                <h5 class="font-weight-bold my-4">{{user.email}}</h5>
                <h5 class="font-weight-bold my-4">{{user.cellphone}}</h5>
                <!-- <h5 class="font-weight-bold my-4">{{user.created_at | date:'medium'}}</h5> -->
                <div class="text-muted mb-4">
                    ---
                </div>
            </div>

            <div class="text-center">
                <a href="#" class="btn icon-btn borderless btn-outline-twitter btn-lg btn-round">
                    <span class="ion ion-logo-twitter"></span>
                </a>
                <a href="#" class="btn icon-btn borderless btn-outline-facebook btn-lg btn-round">
                    <span class="ion ion-logo-facebook"></span>
                </a>
                <a href="#" class="btn icon-btn borderless btn-outline-instagram btn-lg btn-round">
                    <span class="ion ion-logo-instagram"></span>
                </a>
            </div>
        </div>
    </div>
    <hr class="m-0">

    <ul class="nav nav-tabs tabs-alt justify-content-center">
        <li class="nav-item">
            <a class="nav-link py-4 active" href="#">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-4" href="#">Likes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-4" href="#">Followers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link py-4" href="#">Following</a>
        </li>
    </ul>
    <hr class="m-0">
    <br>
</div>