<div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form class="login100-form validate-form flex-sb flex-w" #f="ngForm" (ngSubmit)="onSubmit(f)">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>
                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es
                    obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="email" name="email" placeholder="Email" required
                        [(ngModel)]="usuario.email">

                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="f.submitted && f.controls['name'].errors" class="text-danger animated fadeIn">El Nombre
                    es obligatorio y mínimo de 2 letras</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="name" placeholder="Nombres" required minlength="2"
                        [(ngModel)]="usuario.name">

                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="f.submitted && f.controls['surname'].errors" class="text-danger animated fadeIn">El
                    Apellido
                    es obligatorio y mínimo de 2 letras</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="surname" placeholder="Apellidos" required minlength="2"
                        [(ngModel)]="usuario.surname">

                    <span class="focus-input100"></span>
                </div>
                <span *ngIf="f.submitted && f.controls['cellphone'].errors" class="text-danger animated fadeIn">El
                    Calular
                    es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="cellphone" placeholder="Celular" required minlength="2"
                        [(ngModel)]="usuario.cellphone">

                    <span class="focus-input100"></span>
                </div>
                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordar" class="input-checkbox100" id="ckb1" type="checkbox"
                            name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>
                    <div>
                        <a [routerLink]="['/auth/login']" routerLinkActive="router-link-active" class="txt1">
                            ¿Ya tienes cuenta? / Ingresar
                        </a>
                    </div>
                </div>
                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Crear cuenta
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>