.title-footer-custome {
    color: #5060BA;
    font-size: 30px;
}

.color-general-custome {
    color: #5060BA;
    font-size: 18px;
}

.dot-y {
    height: 15px;
    width: 15px;
    background-color: #F2CD5C;
    border-radius: 50%;
    display: inline-block;
}

.dot-r {
    height: 15px;
    width: 15px;
    background-color: #F25260;
    border-radius: 50%;
    display: inline-block;
}

.logo-footer-custome {
    background-color: red;
    font-size: 35px;
}

.font-custome-title {
    font-size: 45px;
    color: #5060BA;
}

.hr-footer-custome {
    color: #5060BA;
    background-color: #5060BA;
}

.size-img-social{
    height: 25px;
    width: 25px;
}