<!-- Footer -->
<hr class="hr-footer-custome">
<footer class="page-footer font-small blue pt-4">

    <div class="row text-center">
        <div class="col title-footer-custome">
            Sobre el sitio
        </div>
    </div>
    <br>
    <br>
    <div class="row color-general-custome">
        <div class="col text-right">Iniciar causa</div>
        <div class="col text-center">
            <div class="row">
                <div class="col">
                    <span class="dot-y"></span>
                </div>
                <div class="col">
                    Apoyar causa
                </div>
                <div class="col">
                    <span class="dot-y"></span>
                </div>
            </div>
        </div>
        <div class="col text-left">Catálogo de causas</div>
    </div>
    <br>
    <br>
    <div class="row color-general-custome">
        <div class="col text-right">Sobre nosotros</div>
        <div class="row">
            <div class="col">
                <span class="dot-r"></span>
            </div>
            <div class="col">
                Registro
            </div>
            <div class="col">
                <span class="dot-r"></span>
            </div>
        </div>
        <div class="col text-left">Login</div>
    </div>
    <br>
    <br>
    <div class="row text-center">
        <div class="col">
            <h1>
                <a class="navbar-brand font-custome-title" href="#">
                    <img src="../../../../favicon.ico" width="30" height="30" alt="">
                    CausaReal
                </a>
            </h1>
        </div>
    </div> 
    <br>
    <div class="row">
        <div class="col text-right">
            <a href="https://www.facebook.com/woobsing" target="_blank">
                <img src="assets/icons/iconofacebook.png" alt="" class="size-img-social">
            </a>
        </div>
        <div class="col-1 text-center">
            <a href="https://twitter.com/woobsing" target="_blank">
                <img src="assets/icons/iconotwitter.png" alt="" class="size-img-social">
            </a>
        </div>
        <div class="col text-left">
            <a href="https://www.instagram.com/woobsing/" target="_blank">
                <img src="assets/icons/iconoinstagram.png" alt="" class="size-img-social">
            </a>
        </div>
    </div>
    <br>
    <hr class="hr-footer-custome">
</footer>

<!-- Footer -->